/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $color-pack: false,
  $application-background: hsl(210, 46%, 95%),
  $application-color: hsl(217, 19%, 35%),
  $card-background: hsl(0, 0%, 100%),
);
